---
title: 240 years of passion
navTitle: History
sortorder: 2
class: section-history
---

<h1>
	Take part in 240 years of passion for quality and beauty
</h1>

<div class="history">
	<div class="years">
		<ul>
		{{#eachOptions history}}
			<li>
				<a href="#">
				{{#if this.value.year}}
					<span class="year">{{this.value.year}}</span>
				{{/if}}
				{{#if this.value.navTitle}}
					{{this.value.navTitle}}
				{{else}}
					&nbsp;
				{{/if}}
				</a>
			</li>
		{{/eachOptions}}
		</ul>
	</div>
	
	<div class="flexslider">
		<ul class="slides">
		{{#eachOptions history}}
			<li>

				<div class="elm-image"><img src="{{this.value.imgurl}}" alt="{{this.value.title}}" /></div>
				<div class="elm-content">
				{{#if this.value.year}}
					<h3 class="year">{{this.value.year}}</h3>
				{{/if}}
					<h2>
						{{this.value.title}}
					</h2>
					{{# if this.value.text}}
					<p>
						{{this.value.text}}
					</p>
					{{/if}}
				</div>
			</li>
		{{/eachOptions}}
		</ul>
	</div>

</div>