---
title: A passion for ...
navTitle: A passion for ...
sortorder: 4
class: section-passion
---

<h1>A passion for &hellip;</h1>

<ul class="passion-videos">

{{#eachOptions passion}}
	<li id="passion-{{this.key}}" class="{{this.value.class}}">
		<h2><a href="#passion-{{this.key}}">{{this.value.title}}</a></h2>
		<div class="elm-image"  data-original="{{this.value.imgurl}}"></div>
		<div class="elm-content">

			<div class="video-player">
<!--
				<a href="{{this.value.videoUrl}}" target="_blank">
					<img src="{{this.value.thumb}}" alt="{{this.value.title}}">
				</a>
-->
				<iframe src="{{this.value.videoUrl}}" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

			</div>
		</div>

	</li>
{{/eachOptions}}

</ul>
