---
title: Pattern no. 1
navTitle: Pattern no. 1
sortorder: 7
class: section-pattern
is_aggr: false
---

<h1>One intricate pattern</h1>
<h2>240 years of reimagination.</h2>


<div class="pattern">
	<ul>
	{{#eachOptions pattern}}
		<li data-bg="assets/img/pattern/{{add this.key 1}}.jpg" style="background-image:url(assets/img/transparent.gif)" class="{{this.value.class}} item-{{add this.key 1}}">
			<div class="elm-content">
				<h2>
					{{this.value.title}}
				</h2>
				<p>
					{{{this.value.text}}}
				</p>
			</div>
		</li>
	{{/eachOptions}}
	</ul>
</div>