---
title: Products
navTitle: Products
sortorder: 9
class: section-products
---

<h1>Paint your world<br>in blue with&hellip;</h1>

<div class="products flexslider">
	<ul class="slides">
	{{#eachOptions products}}
		<li>
			<article class="product">
				<div class="elm-image"><img src="{{this.value.imgurl}}" alt="{{this.value.name}}" /></div>
				<div class="elm-content">
					<h3>
						<span class="product-name">{{this.value.series}}</span>
					</h3>
					<p class="product-details">
						{{{this.value.details}}}
					</p>
				</div>
			</article>
		</li>
	{{/eachOptions}}
	</ul>
</div>
<div class="store-locator">
	<a href="https://www.royalcopenhagen.com/storelocator">
		{{icon 'icon-map-marker'}}
		Find a store
	</a>
</div>